src/Cluster/Communication/xml/DivideProblem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  targetNamespace="http://www.mini.pw.edu.pl/ucc/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DivideProblem">
  <xs:complexType>
    <xs:sequence>
      <!-- the problem type name as given by TaskSolver and Client -->
      <xs:element name="ProblemType" type="xs:string" />
      <!-- the ID of the problem instance assigned by the server -->
      <xs:element name="Id" type="xs:unsignedLong" />
      <!-- the problem data -->
      <xs:element name="Data" type="xs:base64Binary" />
      <!-- the total number of currently available threads  -->
      <xs:element name="ComputationalNodes" type="xs:unsignedLong" />
      <!-- the ID of the TM that is dividing the problem -->
      <xs:element name="NodeID" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>