src/Cluster/Communication/xml/NoOperation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mini.pw.edu.pl/ucc/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NoOperation">
    <xs:complexType>
      <xs:sequence>
        <!-- The list of backup servers -->
        <xs:element name="BackupCommunicationServers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BackupCommunicationServer" minOccurs="0">
                <xs:complexType>
                  <!-- server address -->
                  <xs:attribute name="address" type="xs:anyURI" />
                  <!-- server port -->
                  <xs:attribute name="port" type="xs:unsignedShort" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>