src/Cluster/Communication/xml/RegisterResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mini.pw.edu.pl/ucc/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- the ID assigned by the Communication Server -->
        <xs:element name="Id" type="xs:unsignedLong" />
        <!-- the communication timeout in seconds configured on Communication Server -->
        <xs:element name="Timeout" type="xs:unsignedInt" />
        <xs:element name="BackupCommunicationServers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BackupCommunicationServer" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="address" type="xs:anyURI" />
                  <xs:attribute name="port" type="xs:unsignedShort" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>